backend/env/
backend/__pycache__/
backend/*.pyc
backend/*.pyo
backend/*.pyd
backend/*.db
backend/*.sqlite3
backend/*.log
backend/*.pid
backend/*.coverage
backend/.env
backend/.venv 

frontend/node_modules/
frontend/dist/
frontend/.cache/
frontend/.next/
frontend/.nuxt/
frontend/.vscode/  
frontend/package-lock.json
frontend/yarn.lock